/* Comment */
body {
	background-color: #e5e5e5;
	font-family: Verdana;
	margin: 0;
	
	overflow-x: hidden;
}
/* title for all pages */
h1.title a {
	background-image: url("../images/page_all/internetMap.png");
	
	text-decoration: none;
	width: 100%;
	float: left;
	
	padding: 1em 0em 3em 1em;
	color: #fff;
	margin-left: -24px;
	margin-top: -21px;
}
/* NAVIGATION BAR*/
nav ul {
	list-style-type: none;
	float: right;
	width: 100%;
	font-size: 110%;
	background: url("../assets/images/whitebg.png");
	background: rgba(255,255,255,0.5);
	
	margin-top: -61px;
	margin-bottom: 0;
}
nav ul li {
	display: inline;
}
nav ul li a {
	text-decoration: none;
	float: right;

	line-height: 58px;
	text-align: center;
	width: 120px;
	color: #fff;
	
	display: inline-block;
}
nav ul li a:hover {
	color: #cccccc;
}
nav ul li a:after {
	display: block;
	content: '';
	border-bottom: solid 3px #6666ff;
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
}
nav ul li a:hover:after {
	transform: scaleX(1);
}
#currentPage {
	background-color: rgba(115, 115, 115, 0.7);
}

/* SECTION */
.blogPostBG {
	padding: 5em 0em;
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	width: 100%;
	background-size: cover;
	background-attachment: fixed;
}
.firstDayBG {
	background-image: url("../images/stock_bg/stock_comp_harddrives.jpg");
}
.firstDayBG:hover {
	background-image: url("../images/stock_bg/stock_comp_harddrivesOpaque.jpg");
}
.funWithNmapBG {
	background-image: url("../images/stock_bg/stock_comp_speakers.jpg");
}
.funWithNmapBG:hover {
	background-image: url("../images/stock_bg/stock_comp_speakersOpaque.jpg");
}
.automateClassBG {
	background-image: url("../images/stock_bg/stock_comp_poweroutlets.jpg");
}
.automateClassBG:hover {
	background-image: url("../images/stock_bg/stock_comp_poweroutletsOpaque.jpg");
}
.webScraperBG {
	background-image: url("../images/stock_bg/stock_insidechargelocker.jpg");
}
.webScraperBG:hover {
	background-image: url("../images/stock_bg/stock_insidechargelockerOpaque.jpg");
}
.socialEngBG {
	background-image: url("../images/stock_bg/stock_comp_thumbdrives.jpg");
}
.socialEngBG:hover {
	background-image: url("../images/stock_bg/stock_comp_thumbdrivesOpaque.jpg");
}
.titleBox {
	display: inline-block;
	margin-left: 2em;
}
.titleBox h2 {
	color: white;
}
.postDate {
	color: #d9d9d9;
}
/* all pages */
section.textAllCenter {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
p.subtopic {
	text-align: center;
	font-weight: bold;
	color: #007acc;
}
ul.blogTopics li {
	color: white;
	display: inline;
	padding: 4px;
	border-radius: 5px;
	background-color: #6666ff;
	font-weight: bold;
	font-size: 12px;
	white-space: nowrap;
	line-height: 250%;
}
hr.subtopicDecor {
	border-color: #007acc;
	width: 10%;
}
/* pages that have code to display */
pre.snippetCode {
	margin-left: auto;
	margin-right: auto;
	width: 23em;
	
	border: 2px solid lightgrey;
	padding: 1em;
	border-radius: 10px;
	background-color: #d9d9d9;
}
.codeNum {
	display: inline;
	border-right: 1px solid gray;
	padding-right: 1em;
	color: #737373;
}
/* pages that use keyboard buttons */
.keyboardButton {
	display: inline;
	background-color: #595959;
	padding: 1em;
	color: white;
	font-weight: bold;
	font-size: 75%;
	border-radius: 9px;
	border-bottom: 5px solid black;
}
table.keyPadSum {
	border-collapse: collapse;
}
.keyPadSum tr, td {
    border: 1px solid black;
	padding: 1.5em;
	white-space: nowrap;
}
img.blogPic {
	max-width: 100%;
	max-height: 100%;
	transition: width 2s;
	margin-left: auto;
    margin-right: auto;
    display: block;
}
img.longBlogPic {
	width: 50%;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
video.blogVid {
	width: 800;
	height: 368;
}
/* ASIDE */
aside {
	margin-top: 1em;
	float: right;
	padding: 2em 0em 2em 0em;
	margin-right: 1em;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	max-width: 350px;
	margin-left: 2em;
}
aside ul {
	list-style-type: none;
	text-align: left;
	padding-right: 2em;
}
aside ul li {
	padding-top: .5em;
	padding-bottom: .5em;
}
aside ul li a {
	text-decoration: none;
	font-size: 20px;
	font-family: bold;
	white-space: nowrap;
	color: black;
}
aside ul li.currentPost {
	border-left: 3px solid #8080ff;
	padding: 3px;
}
aside ul li.nextPost {
	padding-left: 3px;
	border-left: 3px solid #e5e5e5;
}
aside ul li.nextPost:hover {
	border-left: 3px solid #b3b3ff;
	padding-left: 3px;
}
aside ul li a:hover {
	color: gray;
}
/* FOOTER */
.footerDots {
	margin-top: 30px;
	margin-left: 50%;
	
	width: 14px;
	height: 14px;
	
	border-radius: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	background: #3333ff;
	box-shadow: 30px 0 white, -30px 0 white;
}
footer {
	bottom: 0;
	margin-top: 50px;
	width: 100%;
	height: 90px;
	margin-left:-8px;
}
footer img {
	width: 75%;
	height: 75%;
}
footer img:hover {
	opacity: .4;
	transition: all 0.5s;
}
footer a{
	padding: 1em 0em 1em 0em;
	margin: 0;
	text-decoration: none;
	float: right;
}